<!--
 - Created by BRITENET on 06.01.2019.
 -->

<apex:page id="Hospital_MaciejHospitalsController" controller="Hospital_MaciejHospitalsController">

    <apex:includeScript value="{! URLFOR($Resource.jQueryUI,'jquery-ui-1.12.1/external/jquery/jquery.js')}"/>
    <style>
        .msgIcon {
            display: none!important
        }
        .customMessage * {
            color: #fff!important;
        }
        .customMessage {
            opacity: 1!important;
            max-width: 1800px;
            font-size: 16px;
            border: 0px;
            padding: 10px;
            font-family: "Salesforce Sans", Arial, sans-serif;
        }
        .message {
            opacity: 1
        }
    </style>
    <apex:slds/>
    <apex:outputPanel id="messages">
        <apex:pageMessages/>
    </apex:outputPanel>
    <div class="slds-grid">
        <div class="slds-col">
            <div class="slds-media">
                <div class="slds-media__figure">
                </div>
                <div class="slds-media__body">
                </div>
            </div>
        </div>
        <div id="searchDoctor" class="slds-col slds-no-flex slds-align-middle">
            <apex:form>
                <apex:commandButton styleClass="slds-button slds-button--brand slds-m-top--medium"
                                    value="{!$Label.New_Hospital}" status="statusSlds"
                                    reRender="modalEditDoc, modal-content-id-1s, modalHeader"
                                    onComplete="showNewModalDialog(); return false"/>
                <apex:actionFunction name="clearFieldsAndResultHospitalSearch"
                                     action="{!clearFieldsAndResultHospitals}" status="statusSlds"
                                     reRender="modalEditDoc, modalEditOutputPanel, modalHeader">
                </apex:actionFunction>
            </apex:form>
        </div>
    </div>
    <div id="successToast" class="demo-only" style="display: none; height: 4rem;">
        <div class="slds-notify_container slds-is-relative">
            <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                <span class="slds-assistive-text">success</span>
                <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top"
                      title="Description of icon when needed">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{!URLFOR($Resource.slds275, 'icons/utility-sprite/svg/symbols.svg#success')}"></use>
                        </svg>
                    </span>
                <div class="slds-notify__content">
                    <h2 class="slds-text-heading_small ">
                        <apex:outputPanel id="successToastOutputPanel">
                                {!messageSuccessToast}
                        </apex:outputPanel>
                    </h2>
                </div>
                <div class="slds-notify__close">
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onClick="hideToast('successToast')">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{!URLFOR($Resource.slds275, 'icons/utility-sprite/svg/symbols.svg#close')}"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="errorToast" class="demo-only" style="display: none; height: 4rem;">
        <div class="slds-notify_container slds-is-relative">
            <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                <span class="slds-assistive-text">error</span>
                <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                      title="Description of icon when needed">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{!URLFOR($Resource.slds275, 'icons/utility-sprite/svg/symbols.svg#error')}"></use>
                        </svg>
                    </span>
                <div class="slds-notify__content">
                    <h2 class="slds-text-heading_small ">
                        <apex:outputPanel id="errorToastOutputPanel">
                                {!messageErrorToast}
                        </apex:outputPanel>
                    </h2>
                </div>
                <div class="slds-notify__close">
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onClick="hideToast('errorToast')">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{!URLFOR($Resource.slds275, 'icons/utility-sprite/svg/symbols.svg#close')}"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div aria-labelledby="searchDoctorForm">
        <fieldset class="slds-box slds-theme--default slds-container--small slds-m-around_medium">
            <legend id="newaccountform"
                    class="slds-text-heading--medium slds-p-vertical--medium">{!$Label.SearchForm}
            </legend>
            <form class="slds-form--stacked">
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <apex:form>
                            <apex:inputField value="{!hospitalSearchData.Name}" required="true"
                                             html-placeholder="{!$ObjectType.Hospital__c.fields.Name.label}"
                                             styleClass="slds-input slds-m-bottom_x-small"/>
                            <apex:inputField value="{! hospitalSearchData.City__c }"
                                             html-placeholder="{!$ObjectType.Hospital__c.fields.City__c.label}"
                                             styleClass="slds-input slds-m-bottom_x-small"/>
                            <apex:inputField value="{!hospitalSearchData.Country__c}"
                                             html-placeholder="{!$ObjectType.Hospital__c.fields.Country__c.label}"
                                             styleClass="slds-input slds-m-bottom_x-small"/>
                            <apex:commandbutton value="{!$Label.Search}" reRender="hospitalsResultsPanelList, messages"
                                                action="{!searchHospitals}" status="statusSlds"
                                                onComplete="overridePageMessages()"
                                                styleClass="slds-button slds-button--brand slds-m-top--medium">
                            </apex:commandbutton>
                        </apex:form>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

    <apex:outputPanel id="hospitalsResultsPanelList">
        <apex:outputPanel id="hospitalResult" rendered="{!hospitalsFromMaciej.size > 0}">
            <table id="hospitalsResultsList" class="slds-table slds-table_cell-buffer slds-table_bordered">
                <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-text-title_caps" scope="col">
                        <div class="slds-truncate" title="{!$Label.Action}">{!$Label.Action}</div>
                    </th>
                    <th class="slds-text-title_caps" scope="col">
                        <div class="slds-truncate"
                             title="{!$ObjectType.Hospital__c.fields.Name.label}">{!$ObjectType.Hospital__c.fields.Name.label}
                        </div>
                    </th>
                    <th class="slds-text-title_caps" scope="col">
                        <div class="slds-truncate"
                             title="{!$ObjectType.Hospital__c.fields.City__c.label}">{!$ObjectType.Hospital__c.fields.City__c.label}
                        </div>
                    </th>
                    <th class="slds-text-title_caps" scope="col">
                        <div class="slds-truncate"
                             title="{!$ObjectType.Hospital__c.fields.Country__c.label}">{!$ObjectType.Hospital__c.fields.Country__c.label}
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <apex:repeat value="{!hospitalsFromMaciej}" var="hosp">
                    <tr class="slds-hint-parent">
                        <td data-label="Account Name">
                            <div class="slds-truncate">
                                <apex:form>
                                    <apex:commandButton action="{!openHospitalToEdit}" status="statusSlds"
                                                        onComplete="showModalDialog(); return false"
                                                        reRender="modalEditDoc, modalEditOutputPanel, messagesInUpdateModal"
                                                        styleClass="slds-button slds-button--brand slds-m-top--medium"
                                                        value="{!$Label.Edit}">
                                        <apex:param name="hospitalIdToEdit" value="{!hosp.hospitalId}"
                                                    assignTo="{!hospitalToEditId}"/>
                                    </apex:commandButton>
                                    <apex:commandButton value="{!$Label.Delete}" status="statusSlds"
                                                        reRender="modalEditDoc, hospitalsResultsPanelList, messages,
                                                         messagesInUpdateModal, successToastOutputPanel, errorToastOutputPanel"
                                                        action="{!deleteHospital}"
                                                        onComplete="checkHideDeleteToast({!isAnyProblemWithCallout})"
                                                        styleClass="slds-button slds-button--brand slds-m-top--medium">
                                        <apex:param name="hospitalIdToDelete" value="{!hosp.hospitalId}"
                                                    assignTo="{!hospitalToEditId}"/>
                                    </apex:commandButton>
                                </apex:form>
                            </div>
                        </td>
                        <td data-label="{!$ObjectType.Hospital__c.fields.Name.label}">
                            <div class="slds-truncate"
                                 title="{!$ObjectType.Hospital__c.fields.Name.label}">{!hosp.name}
                            </div>
                        </td>

                        <td data-label="{!$ObjectType.Hospital__c.fields.City__c.label}">
                            <div class="slds-truncate"
                                 title="{!$ObjectType.Hospital__c.fields.City__c.label}">{!hosp.city}
                            </div>
                        </td>

                        <td data-label="{!$ObjectType.Hospital__c.fields.Country__c.label}">
                            <div class="slds-truncate"
                                 title="{!$ObjectType.Hospital__c.fields.Country__c.label}">{!hosp.country}
                            </div>
                        </td>
                    </tr>
                </apex:repeat>
                </tbody>
            </table>
        </apex:outputPanel>
    </apex:outputPanel>

    <div id="modalEditDoc" style="display: none; height: 640px;">
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">

                            </svg>
                            <span class="slds-assistive-text">Close</span>
                            <apex:outputPanel id="modalHeader">
                                <apex:outputPanel rendered="{!hospitalToEditId != null}">
                                    Create doctor
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{!$Label.Hospital}</h2>
                    </header>
                    <apex:form>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <apex:outputPanel id="modalEditOutputPanel">
                                <apex:inputField value="{!hospitalCreateData.Name}" required="true"
                                                 html-placeholder="{!$ObjectType.Hospital__c.fields.Name.label}"
                                                 styleClass="slds-input slds-m-bottom_x-small"/>
                                <apex:inputField value="{!hospitalCreateData.City__c }" required="true"
                                                 html-placeholder="{! $ObjectType.Hospital__c.fields.City__c.label}"
                                                 styleClass="slds-input slds-m-bottom_x-small"/>
                                <apex:inputField value="{!hospitalCreateData.Country__c}"
                                                 html-placeholder="{!$ObjectType.Hospital__c.fields.Country__c.label}"
                                                 styleClass="slds-input slds-m-bottom_x-small"/>
                            </apex:outputPanel>
                        </div>

                        <footer class="slds-modal__footer">
                            <apex:commandbutton value="{!$Label.Save}" status="statusSlds"
                                                reRender="modalEditOutputPanel, hospitalsResultsPanelList,
                                                 modalEditDoc, modal-content-id-1, messagesInUpdateModal, successToastOutputPanel, errorToastOutputPanel"
                                                action="{!insertHospital}"
                                                styleClass="slds-button slds-button--brand slds-m-top--medium"
                                                onComplete="hideModal({!isAnyInsertProblem});"/>
                            <apex:commandButton
                                    styleClass="slds-button slds-button--brand slds-m-top--medium"
                                    action="{!clearHireModalWindow}" status="statusSlds"
                                    value="{!$Label.Cancel}" immediate="true"
                                    reRender="hospitalsResultsPanelList, modalEditDoc, modalEditOutputPanel, messages, modal-content-id-1,
                                     messagesInUpdateModal, successToastOutputPanel, errorToastOutputPanel"
                                    onComplete="hideModalCancel();"/>
                        </footer>
                        <apex:outputPanel id="messagesInUpdateModal">
                            <apex:pageMessages/>
                        </apex:outputPanel>
                    </apex:form>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </div>
    <script type="text/javascript">
        function checkHideDeleteToast(isProblemWithDelete) {
              if(!isProblemWithDelete) {
                    showToast('successToast');
                    hideToast('errorToast');
              } else {
                    showToast('errorToast');
                    hideToast('successToast');
               }
        }

        function showToast(toastId) {
            document.getElementById(toastId).style.display = "block";
        }

        function hideToast(toastId) {
            document.getElementById(toastId).style.display = "none";
        return false;
        }

        function showNewModalDialog(){
            showModalDialog();
            clearFieldsAndResultHospitalSearch();
        }

        function showModalDialog() {
           document.getElementById("modalEditDoc").style.display = "block";
       }

        function hideModal(isAnyProblem) {
           if(!isAnyProblem){
                showToast('successToast');
                clearFieldsAndResultHospitalSearch();
                document.getElementById("modalEditDoc").style.display = "none";
           }
           return false;
        }

        function hideModalCancel(){
             document.getElementById("modalEditDoc").style.display = "none";
             return false;
        }

        function openModal(doctorId) {
            openDoctorForm(doctorId);
            j$('#backdrop').addClass('slds-backdrop--open');
            j$('#modal').addClass('slds-fade-in-open');
        }

        function overridePageMessages(){
            hideToast('errorToast');
            hideToast('successToast');

            var textureEffect = 'slds-theme--alert-texture';

            $('.warningM3').addClass('slds-notify slds-notify--toast slds-theme--warning customMessage '+textureEffect);
            $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success  customMessage '+textureEffect);
            $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error customMessage '+textureEffect);
            $('.infoM3').addClass('slds-notify slds-notify--toast customMessage '+textureEffect);

            $('.errorM3').removeClass('errorM3');
            $('.confirmM3').removeClass('confirmM3');
            $('.infoM3').removeClass('infoM3');
            $('.warningM3').removeClass('warningM3');
        }
    </script>
    <c:Hospital_StatusSlds/>
</apex:page>
